<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <patternLayout pattern="%d{yyyy-MM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </console>
        <file name="file" fileName="logs/log4jlogging.log">
            <patternLayout pattern="%d{yyyy-MM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </file>
    </appenders>

    <loggers>
        <logger name="com.kpilszak.ecommercedashboard" level="debug" additivity="false">
            <appenderRef ref="console" />
            <appenderRef ref="file" />
        </logger>
        <logger name="org.springframework.web" level="info" additivity="false">
            <appenderRef ref="console" />
            <appenderRef ref="file" />
        </logger>
        <root level="error">
            <appenderRef ref="console" />
            <appenderRef ref="file" />
        </root>
    </loggers>
</configuration>